/* div{
    background-color: ;
} *N
/* .main{
    background-color: yellow;
} */
.A{
    background-color: rgb(197, 154, 217);
    color: black;
}
/* .B{
    background-color: rgb(0, 102, 255);
}
.C{
    background-color: rgb(255, 0, 170);
} */
.Aman{
    font-size: large;
}